@import '../../../variables';

.chartContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media #{$mobile} {
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    margin-right: 10px;
      align-items: center;

  }

  mat-form-field{
    margin-bottom: -50px;
    width: 100px;
    input{
      text-align: center;
    }
  }
}
.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.mat-form-field {
  float: right;
}
