<div>
  <h3>From:{{data.from}} to: {{data.to}}</h3>
</div>
<form [formGroup]="form">
    <mat-form-field >
      <input
        matInput
        placeholder="Enter sum"
        formControlName="amount"
        cdkFocusInitial
        required
      />
    </mat-form-field>
   <mat-form-field *ngIf="hasDescription()" >
      <input
        matInput
        placeholder="Enter description"
        formControlName="description"
      />
    </mat-form-field>
   <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [disabled]="!(amount.valid)" (click)="sendData()" >Ok</button>
</div>
  </form>
