mat-form-field{
  width: 100%;
}
.header{
  h3{
    display: flex;
    justify-content: space-between;
    .header-box{
      display: flex;
      mat-icon{
        &:first-child{
          margin-right: 10px;
        }
        &:last-child{
          margin-left: 10px;
        }
      }

    }
  }

}
