@import '../../../variables';

.circular-menu {
  z-index: 3;
  //position: fixed; //when fixed cant open menu
  position: relative;
}

.circular-menu .floating-btn  mat-icon  {
  transition: transform .2s;
  color: #4E4068;
  opacity: 0.7;
}

.circular-menu.active .floating-btn mat-icon {
  transform: rotate(-90deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: $primary;
  opacity: 0;
  transition: all .3s ease;
  color: white;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  opacity: 1;
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
  display: none;
}

.circular-menu.active .items-wrapper{
  display: initial;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em,-7em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em,-6.3em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em,-3.2em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em,1em,0);
}
