<div class="chartContainer">
  <div class="chart">
    <mat-form-field>
        <input matInput [matDatepicker]="dp" placeholder="Select Month" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        [touchUi]="(isMobile | async)?.matches"
                        startView="year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
    <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [datasets]="doughnutChartDataset"
            (chartClick)="chartClicked($event)"
            [options]="doughnutChartOptions"
    >
    </canvas>
     <div class="absolute-center text-center">
    <p>{{expenses}} €</p>
  </div>
  </div>
  <div class=" wrapper">
    <h3 mat-subheader>{{nameSingleCat}}</h3>
    <div class="scrollContainer">
      <table matSort *ngIf="spending$ | async as spendings">

        <tr >
          <th mat-sort-header="date" >Date</th>
          <th mat-sort-header="expenses">Expenses</th>
          <th mat-sort-header="description">Description</th>
        </tr>
        <tr *ngFor="let s of spendings">
          <td >{{s.date | date:'dd/MM/yy'}} </td>
          <td >{{s.amount}} €</td>
          <td >{{s.description}} </td>
        </tr>
      </table>
    </div>
  </div>

</div>
