<div class="chartContainer">
  <div class="chart">
    <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [datasets]="doughnutChartDatasets"
            (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
  <div class="scrollContainer wrapper">
    <table *ngIf="spending$ | async as spendings">

      <h3 mat-subheader>{{nameSingleCat}}</h3>
      <tr >
        <th>Date</th>
        <th>Expenses</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let s of spendings">
        <th >{{s.date | date:'dd/MM/yy'}} </th>
        <th >{{s.amount}} €</th>
        <th >{{s.description}} </th>
      </tr>
    </table>

  </div>
</div>
