<app-placeholder *ngIf="false"></app-placeholder>
<div class="placeholder">
  <div class="wrapper">
    <div class="title">
      <div class="titleCol">
        <h3 class="titleDate">Incomes</h3>
        <h4 class="titleDate">Date</h4>
      </div>
      <div class="titleCol">
        <h3 class="titleDate" class="rightTop">$</h3>
      </div>
    </div>
    <div class="boxWithCircles">
      <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" >
        <div class="example-box" *ngFor="let income of incomes" cdkDrag  >
          <button mat-fab>  {{income.name}}  <mat-icon (click)="remove('Income',income, incomes)">close</mat-icon></button>
        </div>
      </div>
      <button mat-fab [disabled]="incomes.length>3" (click)="openDialog('Income',['Income',{fieldName:'name',required:true},{fieldName:'amount',required:false}],incomes)"><mat-icon>add</mat-icon> </button>
    </div>
  </div>
  <div class="wrapper">
    <div class="title">
      <div class="titleCol">
        <h3 class="titleDate">Accounts</h3>
        <h4 class="titleDate">Date</h4>
      </div>

      <div class="titleCol">
        <h3 class="titleDate" class="rightTop">$</h3>
      </div>
    </div>
    <div class="boxWithCircles">
      <div cdkDropList  cdkDropListOrientation="horizontal" class="example-list" *ngIf="accounts" (cdkDropListDropped)="drop($event)"
    >
        <div class="example-box" *ngFor="let account of accounts" cdkDragBoundary="html" (cdkDragEnded)="onDragEnded($event)" cdkDrag  >
          <button mat-fab>  {{account.name}}  <mat-icon (click)="remove('Account',account,accounts)">close</mat-icon></button>
        <!--<div *cdkDragPreview  >
          <p>
            {{account.name}}
          </p>
          <p>
            {{account.amount}}
          </p>
        </div>-->
        </div>
      </div>
      <button mat-fab [disabled]="accounts.length>3" (click)="openDialog('Account',['Account',{fieldName:'name',required:true},{fieldName:'amount',required:false},{fieldName:'description',required:false}],accounts)"><mat-icon>add</mat-icon> </button>
    </div>
  </div>
  <div class="wrapper">
    <div class="title">
      <div class="titleCol">
        <h3 class="titleDate">Categories</h3>
        <h4 class="titleDate">Date</h4>
      </div>
      <div class="titleCol">
        <h3 class="titleDate" class="rightTop">$</h3>
      </div>
    </div>
    <div class="boxWithCircles">
      <div cdkDropList  *ngIf="categories"  cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" >
        <div class="example-box" *ngFor="let category of categories" cdkDrag  >
          <button mat-fab>  {{category.name}}  <mat-icon (click)="remove('Category',category, categories)">close</mat-icon></button>
        </div>
      </div>
            <button mat-fab [disabled]="accounts.length>3" (click)="openDialog('Category',['Category',{fieldName:'name',required:true},{fieldName:'description',required:false}],categories)"><mat-icon>add</mat-icon> </button>

    </div>
  </div>

</div>



