@import '../../../variables';
.example-chip-list {
  width: 60%;
}

.placeholder {
  max-width: 400px;
  margin: 25px auto;
  padding: 0 15px;
}

mat-divider {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
}

mat-grid-list {
  margin-bottom: 70px;
  box-shadow: 2px 2px 2px 2px #c6c6c9;
  border-top-color: #9c27b0;
}

.circle {
  border-radius: 100%;
  // border: 3px solid lightgray;
  height: 70px;
  width: 70px;
  background-color: orange;
}

.title {
  display: flex;
  background-color: #f1f1f2;
  padding: 8px 15px 25px 18px;
}
.titleCol {
  display: flex;
  flex-direction: column;
  width: 49%;
}
.titleDate {
  &:nth-child(1){
    margin: 10px 0;

  }
  &:nth-child(2){
    margin: 3px 0;
  }
}
.rightTop {
  align-self: flex-end
}

.wrapper {
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 13px 0;
  background-color: white;
  border-radius: 10px;
}

// -----------------------------
.cdk-drag-preview{
  .infoBox{
    display: none;
  }
  .mat-icon{
    display: none;
  }
}

.grid{
  display: flex;
  min-height: 150px;
  align-items: center;
  padding: 0 10px;

  .buttonHolder{
    align-self: center;
  }
  .list {
    width:auto;
    max-width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    flex: 1;
    .box {
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: move;
      font-size: 14px;
      flex-basis: 0;
      position: relative;
      margin: 0 10px;
      mat-icon{
        color: $dark-violet;
        opacity: 0.4;
      }
      &.active{
        background-color: black;
      }
      .infoBox{
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        color: $dark-violet;
      }
      .deleteIcon{
        cursor: pointer;
      }
      mat-icon{
        position: absolute!important;
        top: -10px;
        right: 0px;
        font-size: 16px;
        height: 16px;
        width: 16px;
      }
    }
  }
}



.cdk-drag-placeholder {
  opacity: 1;
}

.cdk-drag-animating {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
      position: absolute;

  .holder{
    background: #E4E4E4;
    border: dotted 2px #E4E4E4;
    height: 49px;
    width: 49px;
    border-radius: 50%;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
$size: 56px;
.trial{
  display: flex;
  align-items: center;
  width: $size;
  height: $size;
  background: violet;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  z-index: 99;
  .center{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
  }
  .right,
  .left {
    height: $size;
    width: $size / 2;
    background: #ed6a33;
    z-index: 2;

  }
  .left {
    border-bottom-left-radius: $size * 2;
    border-top-left-radius: $size * 2;
    transition: width .5s ease-in-out;
    align-self: flex-start;
    margin-right: auto;
    &.active{
      width: 0;
      transition: width .5s ease-in-out;
    }
  }
  .right {
    border-bottom-right-radius: $size * 2;
    border-top-right-radius: $size * 2;
    align-self: flex-end;
    margin-left: auto;
    &.active{
      width: 0;
      transition: width .5s ease-in-out;
    }
  }
}

.headerSection{
  padding: 10px 0;
  .line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    h3,h4{
      margin: 5px 0;
    }
  }
}

.buttonToOpenDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  border: 1px solid #b87fb1;
}


