/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// import our custom theme
@import 'theme.scss';
@import './variables';

body,html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.unicorn-dark-theme{
  mat-sidenav{
        border-right-color: #695d7f!important;
  }
 .scrollContainer::-webkit-scrollbar-thumb
{
   background: linear-gradient(to bottom, #4E4068, #272034)!important;

}
mat-dialog-container {


  .header-box {
    color:rgba(255,255,255,0.75);
  }
}
  .line h3 {
    color: white;
  }
  .panel{
    .mat-option{
      color: whitesmoke;
      &.mat-active{
      color: whitesmoke;

      }
    }
  }
  .wrapper {
    background-color: #4e4068!important;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  }
  .mat-list-text{
    color: whitesmoke;
  }

  .buttonToOpenDialog {
    background-color: transparent !important;
    border: 1px solid #BA56B4!important;
  }

  .iconToOpenDialog {
    color: #BA56B4!important;
  }

  .mat-button-wrapper {
    color: #FFFFFF;
  }

  .deleteIcon {
    opacity: 0.3;
  }

  mat-icon{
    color: white!important;
    opacity: 0.7;
  }

  .infoBox {
    color: #ffffff!important;
  }
  .nameBox{
    color: #ffffff!important;
  }
  .navigationButtons {
    background-color: #272034!important;
    box-shadow: none!important;
    .label{
      color: white;
    }
  }


  .floating-btn {
    background-color: transparent!important;
  }
  .circular-menu:after{
    background-color: map_get($md-primary-dark,500)!important;
  }
}
.mat-button-wrapper{
  color: white;
}
.buttonToOpenDialog {
  .mat-button-wrapper {
    padding: 0!important;
  }
}


.z_Index_dragged{
  z-index: 99999;
}

.edit_mode{
  display: none!important;
  opacity: 0!important;
  transition: opacity .4s ease-in-out;
  &.on{
    display: initial!important;
    opacity: 1!important;
  }

}

.customBottomSheet{
  min-height: 30vh;

  @media #{$mobile} {
    min-width: 90vw!important;
    min-height: 80vh;
    border-radius: 25px 25px  0 0;
  }
}
.panelClass{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 270px!important;
  max-height:  200px!important;
  justify-content: center;
  img{
    width: 20px;
    color: white;
  }
  .mat-option {
    .mat-icon{
      margin-right: 0;
      color: white;

    }
  }
}

.settings{
  min-height: 40vw;

  @media #{$mobile} {
    min-width: 98vw!important;
    min-height: 95vh!important;
    border-radius: 25px 25px  0 0;
  }
}

.icon-picker{
  .mat-form-field-infix{
    width: 0px!important;
  }
  .mat-select-arrow-wrapper{
    display: none;
  }
}

 mat-dialog-container{
    mat-icon{
      color: #4E4068;
    }
   .header-box{
     color: #4E4068;
   }
   .mat-button-wrapper{
          // color: #4E4068;
   }
  }
.mat-calendar-body-selected{
  background-color: white;
}
