<div>
  <h3 mat-subheader>Settings</h3>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <label >Fixed layout for coins (not more than 4):</label>
      <mat-slide-toggle
        (change)="updateUserSettings(user.fixedLayout,slider1.checked)"
        [checked]="fixedLayout"
        #slider1
        class="example-margin"
      >
      </mat-slide-toggle>
  </mat-list-item>
     <mat-list-item role="listitem">
      <label >Coins Name (visible if: On):</label>
      <mat-slide-toggle
        (change)="updateUserSettings(user.coinsNamesOn, slider2.checked)"
        [checked]="coinsNamesOn"
        #slider2
        class="example-margin"
      >
      </mat-slide-toggle>
  </mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>
</div>
