mat-form-field{
  width: 100%;
}
.icon-picker{
  display: flex;
  .icon{
    padding-bottom: 1.25em;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
  }
}
.mat-dialog{
  position: relative;
  .close{
    position: absolute;
    top: 5px;
    right: 20px;
  }
}
.submit{
  margin-left: auto;
}

