<div mat-dialog-content>
  <p>New {{ title }}</p>
  <form [formGroup]="form">
    <mat-form-field *ngFor="let item of inputFields">
      <input
        matInput
        placeholder="Enter {{ item.fieldName }}"
        [formControlName]="item.fieldName"
        [required]="item.required"
      />
    </mat-form-field>
  </form>
</div>
<app-icon-picker (iconName)="addToForm($event)"></app-icon-picker>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button
    mat-button
    type="submit"
    [disabled]="!(name.valid && amount.valid)"
    (click)="sendData()"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
