<div mat-dialog-content class="mat-dialog">
  <p>New {{ title }}</p>
  <form [formGroup]="form">
    <mat-form-field *ngFor="let item of inputFields">
      <input
        matInput
        placeholder="Enter {{ item.fieldName }}"
        [formControlName]="item.fieldName"
        [required]="item.required"
      />
    </mat-form-field>
  </form>
  <button mat-icon-button (click)="onNoClick()" class="close"><mat-icon>close</mat-icon></button>
</div>
<app-icon-picker (iconName)="addToForm($event)"></app-icon-picker>
<div mat-dialog-actions>
  <button
    mat-flat-button
    type="submit"
    [disabled]="!(name.valid && amount.valid)"
    (click)="sendData()"
    cdkFocusInitial
    class="submit"
    color="primary"
  >
    Ok
  </button>
</div>
