.navigationButtons {
  padding-right: 0;
  //border-top: 1px solid #A48EC1;
 //box-shadow: 0px -49px 13px 4px rgba(164,142,193,0.82);
/* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px -1px 20px 0px rgba(112, 112, 112,0.3);
  background-color: #F6F6F4;
  z-index: 2;
}

.rightNavigationButtons {
 //display: flex;
}
.goBack {
  color: #4E4068;
  opacity: 0.7;
}

.spacer {
  flex: 1 1 auto;
}

.rightNavButton {
  padding: 0 14px;
}


