<div class="bottomNavigation">
    <mat-action-list class= "navigationButtons">
      <span class="spacer"></span>
      <button mat-list-item routerLink="dashboard"><mat-icon>dashboard</mat-icon> <span class="label">Dashboard</span>
        </button>
       <button mat-list-item (click)="editModeActive()"><mat-icon>edit</mat-icon> <span class="label">Edit Mode</span>  </button>
      <button mat-list-item  class="menu-item" routerLink="settings">
      <mat-icon  aria-hidden="false" aria-label="Settings">settings</mat-icon>
    <span class="label">Settings</span>
    </button>
    <button mat-list-item (click)="goBack()"><mat-icon class="goBack" aria-hidden="false">arrow_back</mat-icon>
      <span class="label">Back</span> </button>
      <app-circle-menu class="rightNavButton" *ngIf="(isMobile | async)?.matches"></app-circle-menu>
    </mat-action-list>

</div>


