<div class="wrapper " [ngClass]="{
  'unicorn-dark-theme': themeToggle.checked
}"
>
  <mat-toolbar class="header">{{title}}

    <mat-slide-toggle #themeToggle  color="accent">
      Do it!
    </mat-slide-toggle>
  </mat-toolbar>

  <mat-sidenav-container class="sidebar ">
    <mat-sidenav #sidenav mode="side" opened="false" class="example-sidenav"
                 [fixedInViewport]="options.fixed" [fixedTopGap]="options.top"
                 [fixedBottomGap]="options.bottom">
      Sidenav
    </mat-sidenav>

    <mat-sidenav-content class="mainA">
       <button mat-fab color="accent" id="toggleMenu"(click)="sidenav.toggle()"><img src="../assets/img/lapa.png" alt=""></button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>
