.wrapper{
  display: grid;
  overflow: hidden;  // needed for bottom nav, to block scrollbars after openning circle menu
  grid-template-areas: "header" "mainA" "fixedNav";
  flex-direction: column;
  height: 100%;
  grid-template-rows: fit-content(100%) 1fr  fit-content(100%);
}
.header{
  grid-area: header;
  button{
    padding: 0;
  }
}

.main{
  grid-area: mainA;


}

.bottomNavigation {
  grid-area: fixedNav;
}

mat-slide-toggle{
  margin-left: auto;
}

#toggleMenu img{
  width: 40px;
  margin-top: -9px;
}
.right-spacer{
  flex: 1 1 auto;
}

.counters{
  display: flex;
  flex-direction: row;

}

.counters {
  color: #4E4067;
}

.mat-button-wrapper {
  color: white;
}

.unicorn-dark-theme .mainA{
  background: linear-gradient(to bottom, #4E4068, #272034);
}
