<div class="wrapper" [class.unicorn-dark-theme]="otherTheme"
>
  <mat-toolbar class="header" *ngIf="(isMobile | async)?.matches">
    <span class="right-spacer"></span>

    <div class="counters" *ngIf="(isMobile | async)?.matches">
      <app-counter  data="income" [title]="'Income'"></app-counter>
      <app-counter  data="account" [title]="'Account'"></app-counter>


    </div>
    <span class="right-spacer"></span>

  </mat-toolbar>

  <mat-sidenav-container class="sidebar">
    <mat-sidenav #sidenav mode="side" [opened]="!(isMobile | async)?.matches" class="example-sidenav"
                 [fixedInViewport]="options.fixed" [fixedTopGap]="options.top"
                 [fixedBottomGap]="options.bottom">
      <app-navigation-vertical (changeThemeV)="changeTheme()" (editModeV)="editModeToggle()" ></app-navigation-vertical>

    </mat-sidenav>

    <mat-sidenav-content class="mainA">

      <button mat-fab *ngIf="!(isMobile | async)?.matches" color="accent"
              id="toggleMenu"(click)="sidenav.toggle()"><img src="../assets/img/lapa.png"
                                                                                     alt=""></button>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

<app-navigation-bottom *ngIf="(isMobile | async)?.matches" (changeTheme)="changeTheme()" (editMode)="editModeToggle()"  class="bottomNavigation">

</app-navigation-bottom>

</div>

